{% extends "home/master.html"%}
{% load humanize %}

{% block content %}
{% if location_list %}
    <!-- {{location_list}} -->
    <dl>
    {% for location in location_list %}
    <!-- {{location}} -->
      <div>  <dt>{{location.text}}</dt>
        <dd><a href="{{location.id}}">{{location.created_on|naturaltime}}</a>
            {% if location.via %}
                <a href="{{location.via}}">URL</a>
            {% endif %}
        <br></div>
    {% endfor %}
    </dl>
{% else %}
Nope
{% endif %}

{% endblock %}